<% if sent_transactions.present? || received_transactions.present? %>
  <h2><%= t('transaction.credit_card_transactions') %></h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t('transaction.sender_card') %></th>
          <th><%= t('transaction.recipient_card') %></th>
          <th><%= t('transaction.amount') %></th>
          <th><%= t('transaction.date') %></th>
        </tr>
      </thead>
      <tbody>
        <% sent_transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.sender_card.number %></td>
            <td><%= transaction.recipient_card.number %></td>
            <td><%= number_to_currency(transaction.amount / 100.0) %></td>
            <td><%= I18n.l(transaction.created_at) %></td>
          </tr>
        <% end %>

        <% received_transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.sender_card.number %></td>
            <td><%= transaction.recipient_card.number %></td>
            <td><%= number_to_currency(transaction.amount / 100.0) %></td>
            <td><%= I18n.l(transaction.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p><%= t('transaction.no_transactions') %></p>
<% end %>
